.tab_container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  .tab_menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgb(96, 105, 117);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .border_line {
    width: 45%;
    margin-top: 15px;
    opacity: 0.2;
    border-bottom: 3px solid gray;
  }
}
