.login__box {
  position: absolute;
  padding: 5rem 0 0 0;
  margin: 0 auto;

  h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-55px);
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 20rem;
      height: 3rem;
      padding-left: 0.8rem;
      border: 1px solid #000;
      border-radius: 10px;
      margin-bottom: 1rem;
      font-size: 1rem;
    }
    .btn-primary {
      width: 20rem;
      height: 3rem;
      border-radius: 10px;
      margin-bottom: 1rem;
      background-color: #333;
      border-color: #333;
      color: white;
    }
    #emailMsg,
    #passwordMsg {
      text-align: center;
      font-size: 0.7rem;
      margin-bottom: 1rem;
    }
  }
  span {
    position: absolute;
    left: 50%;
    font-size: 1rem;
  }
  .registerFont {
    transform: translate(-10rem, 0.5rem);
    color: #555;
  }
  .loginFont {
    transform: translateY(0.5rem);
    color: #555;
  }
  .kakaoLogin {
    position: absolute;
    left: 50%;
    transform: translateX(7.7rem);
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
  }
}
