.headerContainer {
  width: 100%;
  height: 56px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0px;
  z-index: 3;
  .header_content {
    width: 70vw;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;

    .MenuBtn {
      display: flex;
      gap: 50px;
      color: white;
      a {
        font-weight: 600;
        line-height: 19px;
      }
    }
  }
}
