.tab {
  position: absolute;
  display: flex;
  width: 40%;
  list-style: none;
  padding: 0.5rem;
  top: 40vh;
  right: 30vw;

  li {
    margin: 0 0.5rem;
    button {
      color: gray;
      font-size: 1rem;
      font-weight: 800;
      border: none;
      background: none;
      cursor: pointer;
    }
    button:focus {
      color: black;
    }
  }
}
