.login__StyledLoginSectionWrapper {
  background-color: rgb(247, 248, 250);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  gap: 100px;
  .LoginPage__StyledDescriptionWrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    .LoginPage__StyledBigTitle {
      font-weight: 800;
      font-size: 60px;
      line-height: 80px;
      color: rgb(0, 0, 0);
      text-align: right;
    }
    .LoginPage__StyledSmallTitle {
      font-weight: 400;
      font-size: 25px;
      line-height: 35px;
      color: rgb(75, 77, 79);
      margin-top: 35.199px;
      text-align: right;
    }
  }

  .loginbox {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 60px 70px;
    background-color: rgb(255, 255, 255);
    width: 581px;
    .loginform_wrapper {
      .kakaologin_btn {
        display: flex;
        align-items: center;
        background: rgb(251, 229, 77);
        border-radius: 15px;
        font-weight: 600;
        padding: 5px 108px;
        width: 100%;
        gap: 8.001px;
        cursor: pointer;
        -webkit-box-pack: center;
        justify-content: center;
        white-space: nowrap;
      }
      p {
        font-size: 15.001px;
        font-weight: 400;
        margin-top: 17px;
        text-align: center;
      }
      .dividingline {
        width: 100%;
        height: 18px;
        position: relative;
        margin: 30px 0px;
        hr {
          width: 100%;
          border: 1px solid rgb(239, 242, 248);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        span {
          font-size: 18px;
          font-weight: 600;
          color: rgb(84, 87, 94);
          position: absolute;
          background-color: rgb(255, 255, 255);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0px 20.001px;
        }
      }
      .inputContainer {
        width: 100%;
        margin-bottom: 1rem;
        .styledInputContainer {
          width: 100%;
          border: 1px solid rgb(230, 233, 238);
          border-radius: 10px;
          position: relative;
          display: flex;
          -webkit-box-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          align-items: center;
          height: 48px;
          padding: 0px 14.995px;
          input {
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgb(0, 0, 0);
            font-weight: 400;
            border: none;
          }
        }
      }

      .loginTrigger {
        display: flex;
        flex-direction: column;
        gap: 14px;
        -webkit-box-align: center;
        align-items: center;
        button {
          background-color: rgb(255, 255, 255);
          border: 1px solid rgb(230, 233, 238);
          color: rgb(84, 87, 94);
          border-radius: 15.001px;
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
          padding: 15.001px 108px;
          width: 100%;
          cursor: pointer;
          white-space: nowrap;
        }
        a {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          vertical-align: baseline;
          color: dodgerblue;
          box-sizing: border-box;
          font-weight: 400;
        }
      }
    }
  }
}
