.header {
  position: absolute;
  width: 100%;
  height: 40vh;
  right: 0px;
  top: 0px;
  background: linear-gradient(93.8deg, #317eff 1.86%, #8520f5 94.44%);

  .header_box {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 9vh;
    .header_logo {
      width: 104px;
      height: 24px;
      position: absolute;
      left: 10vw;
      top: 8%;
      color: white;
      font-weight: 800;
      font-size: 1.2rem;
      padding: 0.5rem;
      cursor: pointer;
      img {
        width: 110px;
        height: 25px;
      }
    }
    a {
      text-decoration: none;
      font-weight: 800;
      font-size: 1rem;
      padding: 0.5rem;
      top: 8%;
      color: white;
      border: none;
      background: none;
    }
    a:hover {
      transform: scale(1.02);
      transition-duration: 0.1s;
      cursor: pointer;
    }

    .resume_button {
      right: 20vw;
      position: absolute;
    }
    .mypage_button {
      right: 13vw;
      position: absolute;
    }
  }
}
