.profile_container {
  position: fixed;
  top: 17vh;
  left: 6vw;
  width: fit-content;
  height: 630px;

  .profile_bar {
    width: 13vw;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;

    .profile_bar_image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-image: url(http://k.kakaocdn.net/dn/bSojne/btshkaLuWOS/96qkKC3DSkJfKx7WXJ0jNk/img_110x110.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    .profile_bar_name {
      margin-top: 15px;
    }
    .profile_bar_job {
      margin-top: 10px;
    }
    .profile_bar_borderline {
      margin-top: 40px;
    }
    .profile_bar_contact {
      width: 100%;
      margin-top: 40px;
    }
    .profile_bar_hashtag {
      width: 100%;
    }
  }
}
